@import "../../App.scss";

.navAdmin {
  display: flex;
  justify-content: space-between;
  margin: 40px 100px 0px 30px;
}

.welcomeText {
  display: flex;
  flex-direction: column;

  h1 {
    font-family: $font-family;
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
  }

  p {
    font-family: $font-family;
    font-style: normal;
    font-weight: 300;
    font-size: 16.9982px;
    line-height: 21px;
    color: #000000;
  }
}

.icons {
  display: flex;
  align-items: center;
  gap: 25px;
}

.perfil {
  border-radius: 50%;
  width: 50px;
  border: 3px solid #DFDFDF;
}

